POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_AUTH_DB=auth_db
POSTGRES_COURSE_DB=course_db
POSTGRES_PROGRESS_DB=progress_db
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
