DATABASE_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/progress_db
DATABASE_SYNC_URL=postgresql+psycopg2://postgres:postgres@postgres:5432/progress_db
DATABASE_TEST_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/progress_db_test

SERVICE_NAME=progress-service

LOG_LEVEL=INFO
SQL_DEBUG=False

SECRET_KEY=change_me
AUTH_TOKEN_URL=http://localhost:8000/auth/login

ENABLE_EVENTS=True
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
RABBITMQ_EXCHANGE=progress.events
