DATABASE_URL = postgresql+asyncpg://log:pass@localhost:5432/name-db
DATABASE_SYNC_URL = postgresql+psycopg2://log:pass@localhost:5432/name-db
DATABASE_TEST_URL = postgresql+asyncpg://log:pass@localhost:5432/name-db-test

SERVICE_NAME = auth-service

LOG_LEVEL = INFO
DEBUG = True/False

SECRET_KEY = secretkey
ALGORITHM = RS256
ACCESS_TOKEN_EXPIRE_MINUTES = 30
REFRESH_TOKEN_EXPIRE_DAYS = 90

ENABLE_EVENTS = False
RABBITMQ_URL = amqp://guest:guest@localhost:5672/
RABBITMQ_EXCHANGE = auth.events
