DATABASE_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/auth_db
DATABASE_SYNC_URL=postgresql+psycopg2://postgres:postgres@postgres:5432/auth_db
DATABASE_TEST_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/auth_db_test

SERVICE_NAME=auth-service

LOG_LEVEL=INFO
DEBUG=False

SECRET_KEY=change_me
ALGORITHM=RS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=90

ENABLE_EVENTS=True
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
RABBITMQ_EXCHANGE=auth.events

CORS_ORIGINS=http://localhost:8001,http://127.0.0.1:8001
